@font-face {
    font-family: "Poppins";
    src: url("Poppins/Poppins-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f2f2f2;
}


.header {
    background-color: #4f46e5;
    color: white;
    text-align: center;
    padding: 30px;
}

.contact-container {
    width: 80%;
    margin: 40px auto;
    display: flex;
    gap: 30px;
}


.contact-info {
    background-color: white;
    padding: 20px;
    width: 40%;
    border: 1px solid #ccc;
}


.contact-form {
    background-color: white;
    padding: 20px;
    width: 60%;
    border: 1px solid #ccc;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #ccc;
}

textarea {
    height: 120px;
}


button {
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

button:hover {
    background-color: #3730a3;
}

footer {
    background-color: #4f46e5;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
