*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4f46e5;
    padding: 20px 50px;
}

.logo{
    color: white;
}

.menu{
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.menu a:hover{
    text-decoration: underline;
}

.content{
    padding: 60px;
}

.footer{
    text-align: center;
    padding: 20px;
    background-color: #111827;
    color: white;
}
